.html,body{
    margin: 0;
    padding: 0;
}

.container{
    background-color: white;
    margin:10px;
}
.bagian2 .container{
    background: url(gmbsenbr\Vector1.jpg);
    padding: 20px;
    margin-top: 20px;
}
.tengah{
    text-align: center;
    width: 100%;
}